.navbar-action-items{
    width: 23%;
}

.logout-btn{
    width: 40%;
    margin-left: 1%;
}

.card{
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
}

.app-summary{
    margin-top: 5%;
}

.application-data{
    margin-top: 2%;
    width: 92%;
    margin-left: 2%;
}