<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/manage-applications" style="margin-left: 1%;"><img src="briefcase-solid-full.svg" style="max-height: 30px;"/> Job Tracker</a>
    <div class="navbar-action-items">
        <button class="btn btn-dark" type="submit" data-bs-toggle="modal" (click)="openModal()">+ Add Application</button>
        <button type="button" class="btn btn-light logout-btn" (click)="logout()"><img src="logout.svg" style="max-height: 18px;"/> Logout</button>
    </div>
  </div>
</nav>

<div class="row app-summary">
    <div class="card shadow" *ngFor="let item of cardContentList">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-between align-items-center"><span>{{item.cardTitle}}</span> <img [src]="item.cardIcon" style="max-height: 18px;" /></h5>
            <p class="card-text">{{item.count}}</p>
            <p class="card-text card-subtext">{{item.cardSubText}}</p>
        </div>
    </div>
</div>

<div class="table-container mat-elevation-z2 application-data shadow">
<table mat-table [dataSource]="dataSource" matSort class="custom-table">

  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by company"> Company </th>
    <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
  </ng-container>

    <ng-container matColumnDef="jobTitle">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role"> Role </th>
    <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by location"> Location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> Status </th>
    <td mat-cell *matCellDef="let element"> <span class="status" [ngClass]="{
          'status-saved': element.status.statusId === 1,
          'status-applied': element.status.statusId === 2,
          'status-interviewing': element.status.statusId === 3,
          'status-offer': element.status.statusId === 4,
          'status-rejected': element.status.statusId === 5
        }">{{element.status.status}}</span></td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> View / Edit </th>
    <td mat-cell *matCellDef="let element"> <button type="button" class="btn" style="width: 30%;" (click)="openEditModal(element)"><img src="file-pen-solid-full.svg" /></button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

 <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of applications">
  </mat-paginator>

</div>

<!-- Add Application Modal --> 
<div class="modal fade" #applicationModal  id="applicationModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addAppModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{mode}} Application</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="applicationForm">
      <div class="modal-body">
                <div class="mb-3 row">
                    <label for="jobTitle" class="col-sm-2 col-form-label">Job Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="jobTitle" name="jobTitle"
                        aria-describedby="jobTitleHelp" formControlName="jobTitle">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="companyName" class="col-sm-2 col-form-label">Company</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="companyName" name="companyName"
                        aria-describedby="companyNameHelp" formControlName="companyName">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="jobLink" class="col-sm-2 col-form-label">Link</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="jobLink" name="jobLink"
                        aria-describedby="jobLinkHelp" formControlName="jobLink">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-10">
                       <select class="form-select" aria-label="status" id="status" name="status" formControlName="status" [compareWith]="compareStatus">
                        <option selected [ngValue]="null">Select status</option>
                        <option *ngFor="let status of statusList" [ngValue]="status">{{status.status}}</option>
                      </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="salary" class="col-sm-2 col-form-label">Salary</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="salary" name="salary"
                        aria-describedby="salaryHelp" formControlName="salary">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="location" class="col-sm-2 col-form-label">Location</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="location" name="location"
                        aria-describedby="locationHelp" formControlName="location">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="contactPerson" class="col-sm-2 col-form-label">Contact Person</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="contactPerson" name="contactPerson"
                        aria-describedby="contactPersonHelp" formControlName="contactPerson">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="notes" class="col-sm-2 col-form-label">Notes</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="notes" name="notes" rows="3" formControlName="notes"></textarea>
                    </div>
                </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark" *ngIf="mode=='Add'" [disabled]="applicationForm.invalid" (click)="addApplication()">Submit</button>
        <button type="submit" class="btn btn-dark" *ngIf="mode=='Edit'" [disabled]="applicationForm.invalid" (click)="updateApplication()">Update</button>

      </div>
       </form>
    </div>
  </div>
</div>